p {
  background-color: cornflowerblue;
}

div {
  width: 600px;
  height: 600px;
  background-image: url('../../public/assets/baseball.png');
  background-repeat: no-repeat;
}

section {
  width: 15px;
  height: 15px;
  background-image: url('../../public/assets/close.svg');
  background-repeat: no-repeat;
}
